.cart_section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	flex-direction: column;
}
.card_item_container {
	width: 90%;
	display: flex;
	flex-direction: column;
}
.cart_item {
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	box-shadow: 0px 1px 10px 2px #0000001a;
	border-radius: 5px;
}
.cart_message {
	text-align: center;
	font-weight: bold;
	margin: 20px 0;
}
.cart_total_value {
	width: 30%;
}
.cart_total {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 600;
	/* margin: 20px 0; */
}
.clear_btn {
	width: 10%;
}
.cart_order_btn {
	border-radius: 5px;
	height: 30px;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 1px 10px 2px #0000001a;
	transition: all 0.1s;
	cursor: pointer;
	color: #fff;
	background: #000;
	font-size: 15px;
	font-weight: 700;
	margin: 30px 0;
}
.cart_product_title {
	width: 70%;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
.card_product_removebtn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	margin: 0 20px;
	box-shadow: 0px 1px 10px 2px #0000001a;
	transition: all 0.1s;
	cursor: pointer;
	color: #000;
	background: rgb(241, 106, 106);
	font-size: 15px;
	font-weight: 700;
}
.card_product_image {
	margin: 0 10px;
}
.cart_product_price {
	width: 20%;
}

@media screen and (max-width: 480px) {
	.cart_item {
		flex-direction: column;
		height: fit-content;
	}
	.card_product_removebtn {
		margin: 20px 0;
	}
	.card_product_image {
		margin: 10px;
	}
	.cart_product_title {
		/* width: 100%; */

		height: 30px;
		font-size: 14px;
		text-align: center;
		font-weight: bold;
	}
	.cart_product_price {
		margin-top: 20px;
		width: 100%;
		text-align: center;
	}
	.counter_container {
		margin-top: 20px;
	}
}
