.products_container {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px 0;
}
.product_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.search {
	outline: 0;
	border: 2px solid #6b6d6c;
	border-radius: 10px;
	margin-top: 15px;
	padding: 7px 20px;
	position: fixed;
	top: 0;
	z-index: 1000;
}
.search:focus {
	border: 2px solid #ff8724;
}
@media screen and (max-width: 720px) {
	.products_container {
		width: min-content;
		margin-left: 0;
	}
	.search {
		position: relative;
	}
}
