.product_container {
	cursor: pointer;
	gap: 30px;
	background-color: #ffffff;
	border-radius: 5px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 5px 15px 2px #0000001a;
	transition: box-shadow 0.15s ease-in-out;
	transition: transform 0.1s ease-in-out;
}
.product_container:hover {
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
	transform: scale(1.04);
}
.product_title {
	margin: 10px;
	color: rgb(241, 241, 241);
	background: #a96da3;
	width: 94%;
	border-radius: 4px;
	padding: 10px;
	box-shadow: inset 0px 5px 10px 2px #00000033;
	/* background: rgb(228, 228, 228); */
}
.product_details {
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.product_description {
	font-size: 13px;
	margin: 12px 7px;
	color: gray;
}
.product_price {
	font-size: 13px;
	margin: 12px 7px;
	background: #feffff;
	color: rgb(36, 35, 35);
	font-weight: 600;
	box-shadow: inset 0px 0px 4px 0px #00000052;
	border-radius: 5px;
	width: fit-content;
	padding: 5px;
}
.addCart_btn {
	border-radius: 5px;
	height: 30px;
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 1px 10px 2px #0000001a;
	transition: all 0.1s;
	cursor: pointer;
	color: #fff;
	background: #000;
	font-size: 15px;
	font-weight: 700;
}
.addCart_btn:hover {
	color: #000000;
	background: rgb(126, 253, 132);
	box-shadow: inset 0px 0px 20px 2px #00000052;
}
.mid_section,
.counter_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 7px;
}
.product_bottom_sec {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-weight: 500;
}
.removeCart_btn {
	border-radius: 5px;
	height: 30px;
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 1px 10px 2px #0000001a;
	transition: all 0.1s;
	cursor: pointer;
	color: #fff;
	background: #f55656;
	font-size: 15px;
	font-weight: 700;
}
.removeCart_btn:hover {
	background: #ff4213;
	box-shadow: inset 0px 0px 20px 2px #00000052;
}
.btn {
	border-radius: 5px;
	height: 30px;
	width: 30px;
	margin: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 1px 10px 2px #0000001a;
	transition: all 0.1s;
	cursor: pointer;
	color: #fff;
	background: #875899;
	font-size: 15px;
	font-weight: 700;
}
