.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #d8d8d88a;
	color: #000;
	width: 100%;
	height: 10vh;
	position: sticky;
	top: 0;
	z-index: 100;
}
.navbar_title {
	margin: 0 40px;
	font-weight: bold;
	font-size: 20px;
	font-family: cursive;
}
.navbar_links {
	display: flex;

	margin: 0 50px;
}
.navbar_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	padding: 0 20px;
	border-radius: 5px;
	height: 30px;
	box-shadow: 0px 4px 20px 0px #0000002d;
	transition: all 0.2s;
	cursor: pointer;
	color: #fff;
	background: #000;
	font-size: 15px;
	font-weight: 700;
	border: 1px solid transparent;
	width: 100%;
}
.navbar_btn:hover {
	color: #000;
	background: #fff;
	border: 1px solid #00000018;
}
